body,
html,
div,
img {
  padding: 0;
  font-size: 0;
  margin: 0;
}

body {
  background: #eee;
  font-family: 'Microsoft YaHei';
}

#app {
  text-align: center;
}

.bg-img {
  width: 100%;
  max-width: 1133px;
}

p {
  font-size: 12px;
  color: #717171;
  text-align: center;
}

.concat-info {
  position: fixed;
  bottom: 50px;
  right: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@keyframes shake {

  0%,
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0)
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0)
  }
}

.shake {
  -webkit-animation-name: shake;
  animation-name: shake
}

.animated {
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-duration: 1s;
  animation-fill-mode: both
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite
}